<!-- <p> First Name: {{ firstName }} </p>

<p> Last Name: {{ lastName }} </p>


<br>


<img [src]="link">

<br>

<input type="text" [(ngModel)]="firstName">

<input type="text" [value]="lastName">

<button (click)="clickMe()"> Click Me </button> -->


<button *ngIf="showMe; else showHideButton">Show Me</button>
<ng-template #showHideButton>
    <button>Hide Me</button>
</ng-template>

<hr>

<div [ngSwitch]="myNumber">

    <ng-container *ngSwitchCase="1">
        <p> 1 </p>
        <p> 1 </p>
    </ng-container>
    <p *ngSwitchCase="2"> My Number is 2</p>
    <p *ngSwitchCase="3"> My Number is 3</p>
    <p *ngSwitchDefault> My Number is not defined or 0</p>
</div>
<hr>

<ng-container *ngIf="students.length > 0">
    <div
        *ngFor="let student of studentList; let i = index; let first = first; let last = last; let odd = odd; let even = even;">
        <p>{{ student.first_name }} {{ student.last_name }} --- {{ i }} --- {{ first }} --- {{last}} -- {{ odd }} ---
            {{even}}</p>
    </div>
</ng-container>

<hr>

<p [ngStyle]="style">My Name is Jainik</p>

<hr>


<p [ngClass]="['text-green text-primary', 'font-bold']"> My Text Color Red</p>

<p [ngClass]="{'text-green': showMe, 'text-red': !showMe}"> My Text Color Green</p>

<p [evenClass]="'my-custom-class'"> My Custom Class</p>