
.text-primary{
    color: blue;
    background-color: gray;

}

.text-green{
    color:green;
}

.font-bold{
    font-weight: 500;
}

.text-red{
  color:red;
}

.my-custom-class{
    color:aqua;
    background-color:yellow;
    border: yellowgreen;
}